#{extends 'layouts/main.html' /}
#{set title:'Home' /}

<div id="outline">
    <div id="title">
        <h3>Insecure page (HTTP)</h3>
    </div>
    <div id="caption">
        <h1>
            %{ appname = play.Play.configuration.getProperty("application.name") }%
            This <em>${appname}</em> Play! Web App is intended for testing <em>&{'testmodule'}</em> module<br />
        </h1>
    </div>
    <div id="text">
        <p>
            This page is supposed not to have <strong>sensitive data</strong> and for that reason <strong>is not secure</strong>.
        </p>
        <p>
            Try to <span>secure index</span> and the page shall switch to <em>secure scheme</em>.<br />
            <a href="@{ApplicationController.secureIndex}">secure index</a>
        </p>
        #{ifnot session.get("username").equals("admin")}
            <p>
                Or try to <span>login</span> and the page shall switch to <em>secure scheme</em>.<br />
                <a href="@{reverseproxy.deadbolt.ProtectController.signin}">login</a>
            </p>
        #{/ifnot}
        #{if session.get("username").equals("admin")}
            <p>
                Try <span>InfoPlay</span>, which uses <em>secure scheme</em>.
                <a href="@{InfoPlayController.showInfoPlay()}">InfoPlay</a>
            </p>
        #{/if}
    </div>

</div>

